doctype html
html
  head
    title Login
  body
    div.content
      h1 Witaj!
      p Zostałeś uchwycony na ostatnim koncercie! Zaloguj się aby zobaczy swoją fotkę.
      a(class="button" href="/success") zaloguj się